
<div class="modal__wrapper">
  <div class="modal modal--small" id="login">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Вход</div>
        <div class="modal__form">
          <div class="field form__field">
            <label class="field__label" for="login-email">
              <input class="field__input" id="login-email" type="email"/>
              <div class="field__placeholder">E-mail</div>
            </label>
          </div>
          <div class="field form__field">
            <label class="field__label" for="login-password">
              <input class="field__input" id="login-password" type="password"/>
              <div class="field__placeholder">Пароль</div>
            </label>
            <div class="field__note">
              <button class="btn btn--link js-modal" data-target="#pass-recover">Забыли пароль?</button>
            </div>
          </div>
          <button class="btn btn--secondary btn--block">Войти</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--small" id="pass-recover">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Восстановление пароля</div>
        <div class="modal__form">
          <div class="field form__field">
            <label class="field__label" for="pass-recover-email">
              <input class="field__input" id="pass-recover-email" type="email"/>
              <div class="field__placeholder">E-mail</div>
            </label>
          </div>
          <button class="btn btn--secondary btn--block">Восстановить пароль</button>
          <div class="modal__note">
            <button class="btn btn--link js-modal" data-target="#login">Войти</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--medium" id="reg-thanks">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Спасибо за&nbsp;регистрацию</div>
      </div>
    </div>
  </div>
  <div class="modal modal--medium" id="reg-confirm">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Спасибо! </div>
        <div class="modal__text tp-text--center">
          <p>На ваш e-mail адрес отправлена ссылка для&nbsp;подтверждения регистрации</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big" id="reg">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">регистрация</div>
        <div class="modal__form">
          <div class="l-flex-noBottom-center">
            <div class="l-col-6_sm-12">
              <div class="field form__field">
                <label class="field__label" for="reg-name">
                  <input class="field__input" id="reg-name" type="text"/>
                  <div class="field__placeholder">ФИО</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="reg-city">
                  <input class="field__input" id="reg-city" type="text"/>
                  <div class="field__placeholder">Город</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="reg-email">
                  <input class="field__input" id="reg-email" type="email"/>
                  <div class="field__placeholder">E-mail</div>
                </label>
              </div>
            </div>
            <div class="l-col-6_sm-12">
              <div class="field form__field">
                <label class="field__label" for="reg-tel">
                  <input class="field__input" id="reg-tel" type="tel"/>
                  <div class="field__placeholder"> Телефон</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="reg-password">
                  <input class="field__input" id="reg-password" type="password"/>
                  <div class="field__placeholder">Пароль</div>
                </label>
              </div>
              <div class="field--inline">
                <div class="field form__field field--checkbox start">
                  <label class="field__label" for="reg-pers">
                    <div class="field__box">
                      <input class="field__input" id="reg-pers" type="checkbox" checked="checked"/>
                      <div class="field__icon">
                        <svg class="icon">
                          <use xlink:href="#check"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__text">Я покупаю для&nbsp;себя (частник)</div>
                  </label>
                </div>
                <div class="field form__field field--checkbox start">
                  <label class="field__label" for="reg-pro">
                    <div class="field__box">
                      <input class="field__input" id="reg-pro" type="checkbox"/>
                      <div class="field__icon">
                        <svg class="icon">
                          <use xlink:href="#check"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__text">Я покупаю для&nbsp;работы (профессионал)</div>
                  </label>
                </div>
              </div>
            </div>
            <div class="l-col-6_sm-12">
              <div class="field form__field field--checkbox">
                <label class="field__label" for="reg-agreement-rules">
                  <div class="field__box">
                    <input class="field__input" id="reg-agreement-rules" type="checkbox" checked="checked"/>
                    <div class="field__icon">
                      <svg class="icon">
                        <use xlink:href="#check"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__text">Я согласен с&nbsp;условиями акции</div>
                </label>
              </div>
            </div>
            <div class="l-col-6_sm-12">
              <div class="field form__field field--checkbox start">
                <label class="field__label" for="reg-agreement-subscribe">
                  <div class="field__box">
                    <input class="field__input" id="reg-agreement-subscribe" type="checkbox"/>
                    <div class="field__icon">
                      <svg class="icon">
                        <use xlink:href="#check"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__text">Я согласен с&nbsp;пользовательским соглашением, на&nbsp;получение рекламной информации</div>
                </label>
              </div>
            </div>
            <div class="l-col-6_sm-12">
              <button class="btn btn--secondary btn--block">зарегистрироваться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big" id="personal">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Поздравляем! </div>
        <div class="modal__text tp-text--center">
          <p>Вы стали победителем! Для&nbsp;получения приза необходимо заполнить анкету.</p>
        </div>
        <div class="modal__form">
          <div class="l-flex-noBottom-center">
            <div class="l-col-6_sm-12">
              <div class="field form__field">
                <label class="field__label" for="personal-name">
                  <input class="field__input" id="personal-name" type="text"/>
                  <div class="field__placeholder">ФИО</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="personal-birth">
                  <input class="field__input" id="personal-birth" type="text"/>
                  <div class="field__placeholder">Дата рождения</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="personal-email">
                  <input class="field__input" id="personal-email" type="email"/>
                  <div class="field__placeholder">E-mail</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="personal-tel">
                  <input class="field__input" id="personal-tel" type="tel"/>
                  <div class="field__placeholder">Телефон</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="personal-zip">
                  <input class="field__input" id="personal-zip" type="text"/>
                  <div class="field__placeholder">Индекс</div>
                </label>
              </div>
            </div>
            <div class="l-col-6_sm-12">
              <div class="field form__field">
                <label class="field__label" for="personal-region">
                  <input class="field__input" id="personal-region" type="text"/>
                  <div class="field__placeholder">Регион / район</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="personal-city">
                  <input class="field__input" id="personal-city" type="text"/>
                  <div class="field__placeholder">Город / Населенный пункт</div>
                </label>
              </div>
              <div class="field form__field">
                <label class="field__label" for="personal-street">
                  <input class="field__input" id="personal-street" type="text"/>
                  <div class="field__placeholder">Пароль</div>
                </label>
              </div>
              <div class="field--inline">
                <div class="field form__field">
                  <label class="field__label" for="personal-building">
                    <input class="field__input" id="personal-building" type="text"/>
                    <div class="field__placeholder">Дом</div>
                  </label>
                </div>
                <div class="field form__field">
                  <label class="field__label" for="personal-apt">
                    <input class="field__input" id="personal-apt" type="text"/>
                    <div class="field__placeholder">Квартира</div>
                  </label>
                </div>
              </div>
              <div class="field form__field field--checkbox">
                <label class="field__label" for="personal-agreement-rules">
                  <div class="field__box">
                    <input class="field__input" id="personal-agreement-rules" type="checkbox" checked="checked"/>
                    <div class="field__icon">
                      <svg class="icon">
                        <use xlink:href="#check"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__text">Я согласен с&nbsp;условиями акции</div>
                </label>
              </div>
              <div class="field form__field field--checkbox start">
                <label class="field__label" for="personal-agreement-subscribe">
                  <div class="field__box">
                    <input class="field__input" id="personal-agreement-subscribe" type="checkbox"/>
                    <div class="field__icon">
                      <svg class="icon">
                        <use xlink:href="#check"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__text">Я согласен с&nbsp;пользовательским соглашением, на&nbsp;получение рекламной информации</div>
                </label>
              </div>
            </div>
            <div class="l-col-6_sm-12">
              <button class="btn btn--secondary btn--block">сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--small" id="reg-code">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Регистрация кода</div>
        <div class="modal__form">
          <div class="field form__field">
            <label class="field__label" for="reg-code-code">
              <input class="field__input" id="reg-code-code" type="text"/>
              <div class="field__placeholder">Ваш код</div>
            </label>
          </div>
          <button class="btn btn--secondary btn--block">Зарегистрировать</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--medium" id="reg-code-confirm">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Ваш код успешно зарегистрирован!</div>
      </div>
    </div>
  </div>
  <div class="modal modal--medium" id="reg-code-confirm2">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">Ваш код успешно зарегистрирован!</div>
        <div class="modal__text tp-text--center">
          <p>Получите гарантированный приз в&nbsp;Личном Кабинете!</p>
        </div>
        <div class="modal__note tp-text--center">
          <button class="btn btn--secondary btn--mwide">получить приз</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--large modal--video" id="garantee">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__video">
          <video class="js-modal-video" src="/build/assets/videos/garantee.mp4" controls="controls"></video>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--large modal--video" id="instr">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__video">
          <video class="js-modal-video" src="/build/assets/videos/instruction.mp4" controls="controls"></video>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--medium modal--colored" id="test-win">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--center">Поздравляем! <br/>вы прошли тест</div>
        <div class="modal__text tp-text--center">
          <p>используйте промокод <b>SCANDIC2018</b><br/>чтобы получить скидку в интернет-магазине Rockwool</p>
        </div>
        <div class="modal__note tp-text--center"><a class="btn btn--secondary btn--mwide" href="#">получить скидку</a></div>
      </div>
    </div>
  </div>
  <div class="modal modal--medium" id="test-loose">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title tp-heading--big tp-text--primary tp-text--center">К&nbsp;сожалению <br/>вы не&nbsp;прошли тест</div>
        <div class="modal__note tp-text--center">
          <button class="btn btn--secondary btn--mwide test-reset">попробовать снова</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big modal--test" id="test-1">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title tp-heading--big tp-text--center">Пройдите тест <br/>и&nbsp;получите скидку</div>
          <div class="modal__text tp-text--center">
            <p>на&nbsp;любой продукт из&nbsp;ассортимента Rockwool</p>
          </div>
        </div>
        <div class="modal__test">
          <div class="test test--1">
            <div class="test__test">
              <div class="test__q">
                <div class="test__q-num">1</div>
                <div class="test__q-text">Родина компании ROCKWOOL</div>
              </div>
              <div class="test__v">
                <div class="test__a test-ctrl" data-correct="true">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Дания</div>
                  <div class="test__a-correct-note">Правильный ответ</div>
                  <div class="test__a-label correct">вы правы</div>
                  <div class="test__a-label error">вы не правы</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Китай</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Новая Зеландия</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Канада</div>
                </div>
              </div>
            </div>
            <div class="test-content">
              <div class="test__content">
                <div class="test__content-imgs">
                  <div class="test-img test-img--1"><img src="build/img/test/1-1.jpg"/></div>
                  <div class="test-img test-img--2"><img src="build/img/test/1-2.jpg"/></div>
                </div>
                <div class="test__content-text"><p>Компания была основана в&nbsp;1909 году в&nbsp;Дании. А&nbsp;производство минераловатной теплоизоляции на&nbsp;основе горных пород базальтовой группы под торговой маркой ROCKWOOL началось в&nbsp;1937&nbsp;году. В&nbsp;настоящее время компании ROCKWOOL принадлежит 45&nbsp;производственных площадок на&nbsp;5&nbsp;континентах. Включая 4&nbsp;завода на&nbsp;территории России.</p><p>Сегодня в&nbsp;группу компаний ROCKWOOL входят подразделения, занимающиеся производством теплоизоляции (<a href='#'>ROCKWOOL</a>), акустических подвесных потолков (<a href='#'>Rockfon</a>), искусственной почвы для выращивания овощей и&nbsp;цветов (<a href='#'>Grodan</a>), декоративных фасадных панелей (<a href='#'>Rockpanel</a>) и&nbsp;многие другие дочерние компании.</p></div>
              </div>
            </div>
            <div class="test__btn tp-text--center">
              <button class="btn btn--secondary btn--mwide js-modal test-next" data-target="#test-2">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big modal--test" id="test-2">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title tp-heading--big tp-text--center">Пройдите тест <br/>и&nbsp;получите скидку</div>
          <div class="modal__text tp-text--center">
            <p>на&nbsp;любой продукт из&nbsp;ассортимента Rockwool</p>
          </div>
        </div>
        <div class="modal__test">
          <div class="test test--2">
            <div class="test__test">
              <div class="test__q">
                <div class="test__q-num">2</div>
                <div class="test__q-text">Из&nbsp;чего производится каменная вата ROCKWOOL</div>
              </div>
              <div class="test__v">
                <div class="test__a test-ctrl" data-correct="true">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Базальтовые породы камня</div>
                  <div class="test__a-correct-note">Правильный ответ</div>
                  <div class="test__a-label correct">вы правы</div>
                  <div class="test__a-label error">вы не правы</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Песок</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Натуральный мрамор</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Камни драгоценных пород</div>
                </div>
              </div>
            </div>
            <div class="test-content">
              <div class="test__content">
                <div class="test__content-imgs">
                  <div class="test-img test-img--1"><img src="build/img/test/2-1.jpg"/></div>
                </div>
                <div class="test__content-text"><p>Сырье для продукции ROCKWOOL&nbsp;&mdash; это горные породы базальтовой группы.</p><p>Каменная вата получаемая путем плавления базальтовой породы при температуре около 1500&deg;С.</p><p>В&nbsp;процессе производства расплавленная порода обрабатывается по&nbsp;особой технологии и&nbsp;превращается в&nbsp;тончайшие волокна минеральной ваты.</p><p>Произведенный из&nbsp;природного камня, наш продукт способен обеспечивать отличную тепло и&nbsp;звукоизоляцию помещения, непревзойденную защиту от&nbsp;огня, долговечность и&nbsp;все очевидные преимущества использования натурального материала.</p></div>
              </div>
            </div>
            <div class="test__btn tp-text--center">
              <button class="btn btn--secondary btn--mwide js-modal test-next" data-target="#test-3">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big modal--test" id="test-3">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title tp-heading--big tp-text--center">Пройдите тест <br/>и&nbsp;получите скидку</div>
          <div class="modal__text tp-text--center">
            <p>на&nbsp;любой продукт из&nbsp;ассортимента Rockwool</p>
          </div>
        </div>
        <div class="modal__test">
          <div class="test test--3">
            <div class="test__test">
              <div class="test__q">
                <div class="test__q-num">3</div>
                <div class="test__q-text">Какими основными свойствами обладает каменная вата ROCKWOOL</div>
              </div>
              <div class="test__v">
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Влагостойкость</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Негорючесть</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Экологичность</div>
                </div>
                <div class="test__a test-ctrl" data-correct="true">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Все перечисленное</div>
                  <div class="test__a-correct-note">Правильный ответ</div>
                  <div class="test__a-label correct">вы правы</div>
                  <div class="test__a-label error">вы не правы</div>
                </div>
              </div>
            </div>
            <div class="test-content">
              <div class="test__content">
                <div class="test__content-imgs">
                  <div class="test-img test-img--1"><img src="build/img/test/3-1.png"/></div>
                  <div class="test-img test-img--2"><img src="build/img/test/3-2.png"/></div>
                  <div class="test-img test-img--3"><img src="build/img/test/3-3.png"/></div>
                </div>
                <div class="test__content-text"><p>Сочетание этих преимуществ использование натурального камня мы&nbsp;называем &laquo;ROCKWOOL 3&nbsp;в 1&raquo;.</p><p><b>Пожаробезопасность</b><br />Волокна материала выдерживают температуру до&nbsp;1000&deg;C, обеспечивая защиту конструкций от&nbsp;огня&nbsp;и, тем самым, предотвращая их&nbsp;разрушение. Материал не&nbsp;выделяет жар, дым или горящие капели в&nbsp;случае возгорания помещения.</p><p><b>Влагостойкость</b><br />Каменная вата ROCKWOOL гидрофобна&nbsp;&mdash; то&nbsp;есть обладает водоотталкивающими свойствами. Плиты СКАНДИК не&nbsp;впитывают в&nbsp;себя влагу. Вода, попавшая на&nbsp;поверхность плит, не&nbsp;проникает вглубь, благодаря чему они остаются сухими и&nbsp;сохраняют свои высокие теплозащитные свойства. Водопоглощение при полном погружении для продукта ROCKWOOL Скандик&nbsp;&mdash; не&nbsp;более 1,0кг/м&sup2;.</p><p><b>Экологичность</b><br />ROCKWOOL&nbsp;&mdash; первая теплоизоляция, получившая знак экологической безопасности EcoMaterial Green. Он&nbsp;подтверждает безопасность применения материала в&nbsp;любых типах построек и&nbsp;для внутренней отделки помещений, в&nbsp;том числе спален и&nbsp;детских комнат.</p></div>
              </div>
            </div>
            <div class="test__btn tp-text--center">
              <button class="btn btn--secondary btn--mwide js-modal test-next" data-target="#test-4">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big modal--test" id="test-4">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title tp-heading--big tp-text--center">Пройдите тест <br/>и&nbsp;получите скидку</div>
          <div class="modal__text tp-text--center">
            <p>на&nbsp;любой продукт из&nbsp;ассортимента Rockwool</p>
          </div>
        </div>
        <div class="modal__test">
          <div class="test test--4">
            <div class="test__test">
              <div class="test__q">
                <div class="test__q-num">4</div>
                <div class="test__q-text">Насколько больше продукта ROCKWOOL Скандик можно перевести в&nbsp;одной машине по&nbsp;сравнению с&nbsp;продуктами без&nbsp;компрессии</div>
              </div>
              <div class="test__v">
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Одинаково</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">В&nbsp;2&nbsp;раза больше</div>
                </div>
                <div class="test__a test-ctrl" data-correct="true">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">В&nbsp;3&nbsp;раза больше</div>
                  <div class="test__a-correct-note">Правильный ответ</div>
                  <div class="test__a-label correct">вы правы</div>
                  <div class="test__a-label error">вы не правы</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Затрудняюсь ответить</div>
                </div>
              </div>
            </div>
            <div class="test-content">
              <div class="test__content">
                <div class="test__content-imgs">
                  <div class="test-img test-img--1"><img src="build/img/test/4-1.png"/></div>
                </div>
                <div class="test__content-text"><p>СКАНДИК&nbsp;&mdash; уникальный продукт ROCKWOOL, предназначенный для частного домостроения.</p><p>Уникальность нового продукта состоит, прежде всего, в&nbsp;революционном качестве волокон каменной ваты, которые позволяют подвергать готовые плиты компрессии до&nbsp;70% и&nbsp;перевозить за&nbsp;1&nbsp;поездку <b>ВТРОЕ БОЛЬШЕ МАТЕРИАЛА</b>.</p><p>Инженерные разработки ROCKWOOL обеспечили материалу превосходную восстанавливаемость и&nbsp;сохранение высоких характеристик по&nbsp;всем показателям.</p><p><b>ЭКОНОМЬТЕ МЕСТО В&nbsp;МАШИНЕ и&nbsp;НЕ&nbsp;ПЕРЕВОЗИТЕ ВОЗДУХ.</b></p></div>
              </div>
            </div>
            <div class="test__btn tp-text--center">
              <button class="btn btn--secondary btn--mwide js-modal test-next" data-target="#test-5">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal--big modal--test" id="test-5">
    <div class="modal__close btn btn--plain btn-close-modal">
      <svg class="icon icon--block">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title tp-heading--big tp-text--center">Пройдите тест <br/>и&nbsp;получите скидку</div>
          <div class="modal__text tp-text--center">
            <p>на&nbsp;любой продукт из&nbsp;ассортимента Rockwool</p>
          </div>
        </div>
        <div class="modal__test">
          <div class="test test--5">
            <div class="test__test">
              <div class="test__q">
                <div class="test__q-num">5</div>
                <div class="test__q-text">В&nbsp;чем преимущество теплоизоляции в&nbsp;один слой продуктами ROCKWOOL Скандик 100&nbsp;мм и&nbsp;ROCKWOOL Скандик 150&nbsp;мм?</div>
              </div>
              <div class="test__v">
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Меньше времени на&nbsp;монтаж</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Дешевле доставка</div>
                </div>
                <div class="test__a test-ctrl" data-correct="">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Меньше отрезков материала</div>
                </div>
                <div class="test__a test-ctrl" data-correct="true">
                  <div class="test__a-icon">
                    <svg class="icon">
                      <use xlink:href="#smile"></use>
                    </svg>
                  </div>
                  <div class="test__a-text">Все перечисленное</div>
                  <div class="test__a-correct-note">Правильный ответ</div>
                  <div class="test__a-label correct">вы правы</div>
                  <div class="test__a-label error">вы не правы</div>
                </div>
              </div>
            </div>
            <div class="test-content">
              <div class="test__content">
                <div class="test__content-imgs">
                  <div class="test-img test-img--1"><img src="build/img/test/5-1.jpg"/></div>
                  <div class="test-img test-img--2"><img src="build/img/test/5-2.jpg"/></div>
                </div>
                <div class="test__content-text"><p>Как ускорить монтаж и&nbsp;сократить затраты? <b>Используйте для монтажа изоляцию толщиной 100&nbsp;мм!</b></p><p>Устройство однослойной изоляции в&nbsp;100&nbsp;мм или 150&nbsp;мм обходится выгоднее, чем двухслойное решение по&nbsp;50&nbsp;мм:</p><ul><li>снижение трудозатрат при подготовке и&nbsp;монтаже изоляции;</li><li>сокращение отрезков материала при работе;</li><li>утеплитель толщиной 100&nbsp;мм в&nbsp;меньшей степени склонен к&nbsp;прогибам, за&nbsp;счет чего более надежно удерживается в&nbsp;каркасе;</li><li>сечение большинства несущих конструкций стропильных систем кратно 100&nbsp;мм;</li><li>однослойное решение обходится дешевле, чем двухслойная изоляция.</li></ul></div>
              </div>
            </div>
            <div class="test__btn tp-text--center">
              <button class="btn btn--secondary btn--mwide js-modal test-next" data-target="result">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>