/* ==========================================================================
  BASIC - LAYOUT
   ========================================================================== */
html, body {
  background: $white;
  font: normal $font-size-base/1.5 $font-base;
  color: $black;
}
body {
  overflow-x: hidden;
}
.l-container {
  relative();
  margin-right: auto
  margin-left: auto
  width: 100%;
  //min-width: ($container-widths.min + $grid-gutter);
  max-width: ($container-widths.max + $grid-gutter);
  padding: 0 ($grid-gutter / 2);
  @media $mobile {
    padding: 0 (50*100/750)vw;
  }
}

.layout {
  min-size($container-widths.min, 100vh);
  width: 100vw;
  
  flexy(flex-start, center, nowrap, column);
  > div {
    width: 100%;
    flex: 0 0 auto;
  }
  .page {
    flex-grow: 1;
  }
}

.l-spacer {
  flex-grow: 1
}

.l-float {
  &--left {
    float: left;
    
    ^[0]--outside& {
      margin-left: -52%;
    }
  }
  &--right {
    float: right;
  
    ^[0]--outside& {
      margin-right: -52%;
    }
  }
  &--outside {
    width: 75%;
  }
}

.st {
  position: static;
}

video {
  display: block;
  width: 100%;
  height: auto;
}