.demo-menu
  button.btn
  ul.demo-menu__list
    li.demo-menu__item
      a.demo-menu__link(href='index-loggedin.html') !{'Главная (авторизованный)'}
    each item in pages
      if item.isActive
        if !item.isModal
          li.demo-menu__item
            a.demo-menu__link(href=item.url) !{item.text}