
<div class="demo-menu">
  <button class="btn"></button>
  <ul class="demo-menu__list">
    <li class="demo-menu__item"><a class="demo-menu__link" href="index-loggedin.html">Главная (авторизованный)</a></li>
    <li class="demo-menu__item"><a class="demo-menu__link" href="gifts.html">призы</a></li>
    <li class="demo-menu__item"><a class="demo-menu__link" href="winners.html">победители</a></li>
    <li class="demo-menu__item"><a class="demo-menu__link" href="faq.html">FAQ</a></li>
    <li class="demo-menu__item"><a class="demo-menu__link" href="profile.html">Личный кабинет</a></li>
    <li class="demo-menu__item"><a class="demo-menu__link" href="modals.html">Попапы</a></li>
  </ul>
</div>