.gift {
  height: 330px;
  
  @media $mobile {
    height: (550*100/750)vw;
  }
  
  &--ext {
    height: 100%;
    @media $desktop {
      padding-top: 1rem;
    }
  }
  &--hrz {
    @media $desktop {
      padding-left: 0;
      height: 270px;
    }
  }
  
  &__content {
    flexy(space-between, center, column, nowrap);
    height: 100%;
  }
  &--hrz &__content {
    @media $desktop {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &--ext &__info {
    max-width: 100%;
    @media $desktop {
      flex: 1 1 auto;
    }
  }
  &--hrz &__info {
    @media $desktop {
      flex: 1 1 69%;
      padding-top: 1rem;
    }
  }
  
  &__img {
    margin: auto 0 0;
    flex: 1 1 auto;
    width: 100%;
    min-height: 0;
    flexy(center, stretch);
    ^[0]--ext & {
      display: block;
      @media $mobile {
        flex: 0 0 (300*100/750)vw;
      }
      @media $desktop {
        flex: 0 0 124px;
        margin-bottom: 1rem;
      }
    }
    ^[0]--hrz & {
      @media $desktop {
        flex: 0 0 31%; 
        display: flex;
        width: 31%;
        max-height: 100%;
        padding: 10px;
      }
    }
    
    img {
      display: block;
      //size(auto, 100%);
      //margin: 0 auto;
      flex: 0 0 auto;
      object-fit: contain;
      max-width: 100%;
      ^[0]--ext & {
        @media $mobile {
          margin: 0 auto;
          height: (300*100/750)vw;
        }
        @media $desktop {
          margin: 0;
          height: 124px;
        }
      }
      ^[0]--hrz & {
        @media $desktop {
          height: initial;
        }
      }
    }
  }
  &__title {
    flex: 0 0 auto;
    margin-bottom: 1rem;
    @media $mobile {
      text-align: center;
    }
  }
  &__name {
    flex: 0 0 48px;
    margin-top: 1rem;
    line-height: 1.2;
    max-width: 100%;
    @media $mobile {
      flex-basis: 13vw;
      text-align: center;
    }
  }
  &__desc {
    margin-top: 1.5rem;
    line-height: 1.25;
    @media $mobile {
      font-size: (30*100/750)vw;
      margin-top: (24*100/750)vw;
      text-align: center;
    }
  }
  
  &--garantee,
  &--main {
    box-shadow: none;
    @media $desktop {
      height: 310px;
    }
  }
  &--garantee {
    background: url('../img/bg.png') center no-repeat;
    background-size: cover;
    color: $white;
    
    .tp-text--primary {
      color: inherit;
    }
  }
  
  &--main {
    background: url('../img/bg-secondary-gradient.png') left center no-repeat;
    background-color: $secondary;
    background-size: cover;
    
    @media $desktop {
      height: 310px;
      
      & ^[0]__content {
        flex-direction: row;
      }
      & ^[0]__img {
        flex: 0 0 60%;
        margin: 0;
        margin-left: -10%;
        img {
          margin: 0;
          size(100%, auto);
        }
      }
      & ^[0]__info {
        flex: 1 1 40%;
      }
    }
  }
}

.page--home{
  .gifts{
    &__item{
      &:first-child{
        .gift__img{
          img{
            @media $desktop{
            height 148px;
          }
          }
        }
      }
      &:nth-child(2){
        .gift__img{
          img{
            @media $desktop{
            height 172px;
          }
          }
        }
      }
      &:nth-child(3){
        .gift__img{
          img{
            @media $desktop{
            height 170px;
          }
          }
        }
      }
    }
  }
}