.header {
  fixed(0px, 0px);
  width: 100vw;
  background: $primary;
  z-index: 9;
  box-shadow: 0 0 50px rgba(#000, 0.8);
  
  .layout & {
    width: 100vw;
  }
  
  @media $mobile {
    //background: url("../img/main-mobile.png") top center no-repeat;
    //background-size: cover;
    
    .layout--detail & {
      box-shadow: none;
    }
  }
  
  &__content {
    padding: 12px 0;
    flexy(space-between, center);
    @media $mobile {
      padding: (27*100/750)vw 0;
    }
  }
  
  &__logo {
    flex: 0 0 auto;
    @media $desktop {
      margin-right: 100px;
      size(170px, 30px);
    }
    @media $mobile {
      size((364*100/750)vw, (66*100/750)vw);
    }
    img {
      display: block;
      size(auto, 100%);
    }
  }
  
  &__menu {
    @media $desktop {
      flex: 1 1 510px;
      .layout--loggedin & {
        flex: 0 0 510px;
      }
    }
  }
  
  .layout--dummy & {
    @media $desktop {
      display: none;
    }
  }
}

.header-screen {
  background: url("../img/main.png") bottom center no-repeat;
  background-size: cover;
  .layout--dummy & {
    background: url("../img/main-dummy.png") bottom center no-repeat;
    background-size: cover;
  }
  .layout--detail & {
    background: url("../img/bg-header.png") bottom center no-repeat;
    background-size: cover;
  }
  .layout & {
    @media $mobile {
      background: url("../img/main-mobile.png") bottom center no-repeat;
      background-size: cover;
    }
  }
  
  &__content {  
    padding: 60px 0 40px;
    height: 553px;
    .layout--home & {
      @media screen and (min-width: 990px) and (max-width: 1440px){
        height: 450px;
      }
    }
    .layout--dummy & {
      height: 460px;
    }
    .layout--detail & {
      height: 393px;
    }
    @media $mobile {
      height: 78.67vw;
      
      .layout--detail & {
        height: (120*100/750)vw;
        padding: 0;
        z-index: 0;
        opacity: 0;
      }
    }
  }
  &__img {
    display: none;
    height: 100%;
    margin-left: -30px;
    img {
      height: 100%;
    }
    @media $desktop {
      .layout--detail & {
        display: block;
      }
    }
  }
  &__money {
    absolute();
    right: 0;
    bottom: -80px;
    width: 360px;
    z-index: 3;
    
    .layout--dummy & {
      width: 440px;
      bottom: -260px;
    }
    .layout--detail & {
      width: 375px;
      bottom: -1rem;
      @media $mobile {
        width: (300*100/750)vw;
        bottom: (-200*100/750)vw;
      }
    }
    .layout & {
      @media $mobile {
        width: 37.33vw ;
        bottom: -5.33vw ;
      }
    }
    
    img {
      display: block;
      width: 100%;
    }
  }
}