include ../mixins
.modal__wrapper
  +modal("login").modal--small
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Вход
    .modal__form
      +fieldInput("login-email", "E-mail")(type="email")
      +fieldInput("login-password", "Пароль")(type="password")
        .field__note
          button.btn.btn--link.js-modal(data-target="#pass-recover") Забыли пароль?
      button.btn.btn--secondary.btn--block Войти
  +modal("pass-recover").modal--small
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Восстановление пароля
    .modal__form
      +fieldInput("pass-recover-email", "E-mail")(type="email")
      button.btn.btn--secondary.btn--block Восстановить пароль
      .modal__note
        button.btn.btn--link.js-modal(data-target="#login") Войти
  +modal("reg-thanks").modal--medium
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Спасибо за&nbsp;регистрацию
  +modal("reg-confirm").modal--medium
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Спасибо! 
    .modal__text.tp-text--center
      p На ваш e-mail адрес отправлена ссылка для&nbsp;подтверждения регистрации
  +modal("reg").modal--big
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center регистрация
    .modal__form
      .l-flex-noBottom-center
        .l-col-6_sm-12
          +fieldInput("reg-name", "ФИО")(type="text")
          +fieldInput("reg-city", "Город")(type="text")
          +fieldInput("reg-email", "E-mail")(type="email")
        .l-col-6_sm-12
          +fieldInput("reg-tel", " Телефон")(type="tel")
          +fieldInput("reg-password", "Пароль")(type="password")
          .field--inline
            +fieldCheckbox('reg-pers', 'Я покупаю для&nbsp;себя (частник)', 'start')(checked)
            +fieldCheckbox('reg-pro', 'Я покупаю для&nbsp;работы (профессионал)', 'start')
        .l-col-6_sm-12
          +fieldCheckbox('reg-agreement-rules', 'Я согласен с&nbsp;условиями акции')(checked)
        .l-col-6_sm-12
          +fieldCheckbox('reg-agreement-subscribe', 'Я согласен с&nbsp;пользовательским соглашением, на&nbsp;получение рекламной информации', 'start')
        .l-col-6_sm-12
          button.btn.btn--secondary.btn--block зарегистрироваться
  +modal("personal").modal--big
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Поздравляем! 
    .modal__text.tp-text--center
      p Вы стали победителем! Для&nbsp;получения приза необходимо заполнить анкету.
    .modal__form
      .l-flex-noBottom-center
        .l-col-6_sm-12
          +fieldInput("personal-name", "ФИО")(type="text")
          +fieldInput("personal-birth", "Дата рождения")(type="text")
          +fieldInput("personal-email", "E-mail")(type="email")
          +fieldInput("personal-tel", "Телефон")(type="tel")
          +fieldInput("personal-zip", "Индекс")(type="text")
        .l-col-6_sm-12
          +fieldInput("personal-region", "Регион / район")(type="text")
          +fieldInput("personal-city", "Город / Населенный пункт")(type="text")
          +fieldInput("personal-street", "Пароль")(type="text")
          .field--inline
            +fieldInput("personal-building", "Дом")(type="text")
            +fieldInput("personal-apt", "Квартира")(type="text")
          +fieldCheckbox('personal-agreement-rules', 'Я согласен с&nbsp;условиями акции')(checked)
          +fieldCheckbox('personal-agreement-subscribe', 'Я согласен с&nbsp;пользовательским соглашением, на&nbsp;получение рекламной информации', 'start')
        .l-col-6_sm-12
          button.btn.btn--secondary.btn--block сохранить
  +modal("reg-code").modal--small
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Регистрация кода
    .modal__form
      +fieldInput("reg-code-code", "Ваш код")(type="text")
      button.btn.btn--secondary.btn--block Зарегистрировать
  +modal("reg-code-confirm").modal--medium
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Ваш код успешно зарегистрирован!
  +modal("reg-code-confirm2").modal--medium
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center Ваш код успешно зарегистрирован!
    .modal__text.tp-text--center
      p Получите гарантированный приз в&nbsp;Личном Кабинете!
    .modal__note.tp-text--center
      button.btn.btn--secondary.btn--mwide получить приз
  +modal("garantee").modal--large.modal--video
    .modal__video
      video.js-modal-video(src="/build/assets/videos/garantee.mp4", controls="controls")
  +modal("instr").modal--large.modal--video
    .modal__video
      video.js-modal-video(src="/build/assets/videos/instruction.mp4", controls="controls")
  +modal("test-win").modal--medium.modal--colored
    .modal__title.tp-heading--big.tp-text--center Поздравляем! <br/>вы прошли тест
    .modal__text.tp-text--center
      p используйте промокод <b>SCANDIC2018</b><br/>чтобы получить скидку в интернет-магазине Rockwool
    .modal__note.tp-text--center
      a.btn.btn--secondary.btn--mwide(href="#") получить скидку
  +modal("test-loose").modal--medium
    .modal__title.tp-heading--big.tp-text--primary.tp-text--center К&nbsp;сожалению <br/>вы не&nbsp;прошли тест
    .modal__note.tp-text--center
      button.btn.btn--secondary.btn--mwide.test-reset попробовать снова
  each item, index in test
    +modal("test-" + (index + 1)).modal--big.modal--test
      .modal__header
        .modal__title.tp-heading--big.tp-text--center Пройдите тест <br/>и&nbsp;получите скидку
        .modal__text.tp-text--center
          p на&nbsp;любой продукт из&nbsp;ассортимента Rockwool
      .modal__test
        .test(class="test--" + (index + 1))
          .test__test
            .test__q
              .test__q-num= (index + 1)
              .test__q-text !{item.q}
            .test__v
              each a in item.a
                .test__a.test-ctrl(data-correct=a.isCorrect ? "true" : "")
                  .test__a-icon
                    +icon("smile")
                  .test__a-text !{a.text}
                  if a.isCorrect
                    .test__a-correct-note Правильный ответ
                    .test__a-label.correct вы правы
                    .test__a-label.error вы не правы
          .test-content
            .test__content
              .test__content-imgs
                each pic, index in item.images
                  .test-img(class="test-img--" + (index + 1)): img(src=pic)
              .test__content-text !{item.text}
          .test__btn.tp-text--center
            button.btn.btn--secondary.btn--mwide.js-modal.test-next(data-target=(index + 1) == test.length ? "result" : "#test-" + (index + 2)) Далее